:root {
  /* --hcblue:  */
  --system-red3: rgba(238, 0, 0, 0.4);
  --system-yellow3:RGBA(255, 204, 31, 0.4);
}

#sideHeader {
  color: var(--system-blue);
  padding: 10px;
}

canvas {
  position: absolute;
  top:0px;
  left: 0px;
  touch-action: none;
  /* pointer-events: none; */
}

#overloadTimer {
  background-color: var(--system-orange);
  padding-left: 0px;
  transition: width 0.2s;
}

#roundTimer {
  /* transition: width 0.05s; */
}
.red2 {
  color: var(--system-red3);
}

details[open] {
  height:20%;
  /* bottom: */
}

details {
  position: absolute;
  bottom:0px;
  height: 20px;
  transition: height 0.3s;
  width: calc(100% - 30px);
  margin: 5px auto;
  left: 5px;
  background-color: var(--system-bg) !important;
}

.building .onhover {
  opacity: 0;
  pointer-events: none !important;
  position: absolute;
  right: 0px;
  background-color: var(--system-overlay);
  border-radius: 5px;
  padding: 5px;
  top: -50%;
  transition: all 0.2s;
  font-size: 20px;
  width: 300px;
  text-align: left;
}

.preserveLines {
  white-space: pre-line;
}

.building {
  cursor: pointer;
  padding: 10px;
  position: relative;
  font-size: 30px;
  color: var(--system-blue);
  font-family: 'Noto Sans Display';
}



.building:hover {
  background-color: var(--system-overlay);
}

.btn.disabled p {
  color: var(--system-grey);
}

#upgradeMenu {
  max-width: unset;
  width: fit-content;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--system-overlay);
  pointer-events: auto;
  position: absolute;
  margin: 0px auto;
  bottom: 50px;
  left: 0;
  right: 0;
  max-height: 300px;
  opacity: 1;
  overflow-y: auto;
  transition: all 0.2s;
  padding: 20px;
  height:fit-content;
}
#upgradeMenu p {
  margin: 0px;
}

#upgradeMenu_Inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#upgradeMenu_Inner button {
  flex-shrink: 0;
  flex-grow: 1;
}

#upgradeMenu.hidden {
  max-height: 0px;
  opacity: 0;
}

.building.active {
  animation: activeBlink 2s infinite ;
  /* background-color: var(--system-blue2) !important; */
}

@keyframes activeBlink {
  0% {background-color: var(--system-transparent);}
  50% {background-color: var(--system-blue3);}
  100% {background-color: var(--system-transparent);}
}

.building:hover .onhover {
  opacity: 1;
  right: 100px;
  pointer-events: auto;
}
.fsvsml {
  font-size: 20px;
}
#uiElements {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent;
}
div#topBar {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  top: 0px;
  width: calc(100% - 20px);
  background-color: var(--system-grey3);
  justify-content: center;
  align-items: center;
  row-gap: 7px;
  column-gap: 10px;
  pointer-events: auto;
}

#sidebar {
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  pointer-events:auto;
  padding-bottom: 10px;
  background-color: var(--system-grey3);
}

.outer::before {
  font-size: 13px;
  font-variant-caps: small-caps;
  position: absolute;
  color: var(--system-blue);
  top: -17px;
}

.outer:has(#stressLevel)::before {
  content: "Total stress";
}

#tooltip {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  transition: all 0.5s;
  background-color: var(--system-overlay);
  border-radius: 5px;
  padding: 5px;
  width: 200px;
}
#tooltip .desc {
  white-space:pre-line;
}
.invis {
  opacity: 0 !important;
}
.outer {
  width: 200px;
  height: 30px;
  margin: 10px;
  background-color: var(--system-blue2);
  text-align: left;
  border-radius: 3px;
  position:relative;
}
.inner {
  background-color: var(--system-blue3);
  /* transition: width 0.05s; */
  white-space: nowrap;
  transition:background-color 0.5s;
  height: 30px;
  border-radius: 3px;
  padding-left: 5px;
  max-width: calc(100% - 5px);
  vertical-align: bottom;
  font-size: 20px;
  position: absolute;
  color: var(--system-black);
}

@keyframes blinkingRed {
  0% {background-color: var(--system-red);}
  50% {background-color: var(--system-red2);}
  100% {background-color: var(--system-red);}
}
